
#container {
    width: 640px!important;
    margin: auto!important;
}
#rs,
#page,
#content_left {
    margin-left: 0!important;
}

#content_left{
    padding-left:0!important;
}
#page{
   
    margin-left:-40px!important;
   
}

#form{
    position: absolute!important;
    width: 641px !important;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.head_nums_cont_outer .search_tool_conter,
.head_nums_cont_outer .nums{
    margin-left:0!important;
}

/* 兼容 searchEngineJump 搜索引擎快捷跳转 */

/*
 #sej-container{
    position:fixed!important;
    margin-left:auto!important;
    margin-right:auto!important;
    width:660px!important;
    left:0!important;
    right:0!important;
   
}
*/







